@import "vue-antd-ui/dist/antd.css";
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.anchorBL {
  display: none;
}

.ant-modal-content {
  .ant-modal-header {
    background-color: rgba(24, 144, 255, 0.847058823529412);
    .ant-modal-title {
      color: white;
    }
  }
  .ant-modal-close {
    color: white;
  }
}